rules_version = '2';

function isSuperadmin() {
  return request.auth.token.role == 'superadmin';
}

function isTeamMember() {
    return request.auth.token.role in ['superadmin', 'colaborador', 'teamoffice'];
}

function isOwner(userId) {
    return request.auth.uid == userId;
}

service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{userId} {
      allow read, write: if isOwner(userId) || isSuperadmin();
      
      match /todos/{todoId} {
        allow read, write: if isOwner(userId);
      }

      match /connections/{connectionId} {
        allow read, write: if isOwner(userId);
      }
    }

    match /customers/{customerId} {
      allow read: if request.auth != null;
      allow create, update, delete: if isSuperadmin();

      match /interactions/{interactionId} {
        allow read, write: if isTeamMember();
      }

      match /offers/{offerId} {
        allow read, write: if isTeamMember();
      }
      
      match /customerServices/{serviceId} {
        allow read, write: if isTeamMember();
      }

      match /metrics/{metricId} {
        allow read, write: if isTeamMember();
      }

      match /landingPageContent/{contentId} {
        allow read, write: if isTeamMember();
      }
    }
    
    match /projects/{projectId} {
        allow read: if request.auth != null && (isSuperadmin() || (('assignedTeam' in resource.data) && request.auth.uid in resource.data.assignedTeam));
        allow create, update, delete: if isTeamMember();

        match /tasks/{taskId} {
            allow read, write: if isTeamMember();
        }
    }

    match /articles/{articleId} {
        allow read: if request.auth != null;
        allow create, update, delete: if isTeamMember();
    }
    
    match /expenses/{expenseId} {
        allow read: if request.auth != null;
        allow create, update, delete: if isTeamMember();
    }

    match /supportTickets/{ticketId} {
        allow read, write: if isTeamMember();
    }
    
    match /conversations/{conversationId} {
        allow read, write: if ('participantUids' in resource.data) && (request.auth.uid in resource.data.participantUids);
        
        match /messages/{messageId} {
            allow read, write: if ('participantUids' in get(/databases/$(database)/documents/conversations/$(conversationId)).data) && (request.auth.uid in get(/databases/$(database)/documents/conversations/$(conversationId)).data.participantUids);
        }
    }

    match /marketingSchedule/{eventId} {
        allow read, write: if isTeamMember();
    }
    
    match /contentAssets/{assetId} {
        allow read, write: if isTeamMember();
    }
    
    match /counters/{counterId} {
        allow read, write: if isTeamMember();
    }
    
    match /coupons/{couponId} {
      allow read: if true;
      allow create, update, delete: if isSuperadmin();
    }
     match /recommendations/{recommendationId} {
      allow create: if true;
      allow read, update, delete: if isTeamMember();
    }
     match /programs/{programId} {
      allow read: if request.auth != null;
      allow create, update, delete: if isSuperadmin();
    }

  }
}