
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 187 83% 94%;
    --foreground: 224 71% 4%;
    --card: 187 83% 98%;
    --card-foreground: 224 71% 4%;
    --popover: 187 83% 98%;
    --popover-foreground: 224 71% 4%;
    --primary: 188 82% 56%;
    --primary-foreground: 224 71% 4%;
    --secondary: 187 80% 88%;
    --secondary-foreground: 224 71% 4%;
    --muted: 187 80% 88%;
    --muted-foreground: 224 71% 25%;
    --accent: 90 95% 55%;
    --accent-foreground: 224 71% 4%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 187 50% 85%;
    --input: 187 50% 85%;
    --ring: 188 82% 56%;
    --chart-1: 0 84% 60%;
    --chart-2: 120 73% 47%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 220 40% 5%;
    --foreground: 210 40% 98%;
    --card: 220 40% 8%;
    --card-foreground: 210 40% 98%;
    --popover: 220 40% 8%;
    --popover-foreground: 210 40% 98%;
    --primary: 188 82% 56%;
    --primary-foreground: 224 71% 4%;
    --secondary: 215 28% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 215 28% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 90 95% 55%;
    --accent-foreground: 224 71% 4%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 28% 17%;
    --input: 215 28% 17%;
    --ring: 188 82% 56%;
    --chart-1: 0 72% 51%;
    --chart-2: 120 73% 47%;
    --chart-3: 30 80% 55%;
    --chart-4: 43 74% 66%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
